In [3]:
import numpy as np
import pandas as pd

In [217]:
# 1. 데이터 읽어오세요
df = pd.read_csv('./Boston_house.csv')
df.head(2)

,AGE,B,RM,CRIM,DIS,INDUS,LSTAT,NOX,PTRATIO,RAD,ZN,TAX,CHAS,Target
0,65.2,396.9,6.575,0.00632,4.0900,2.31,4.98,0.538,15.3,1,18.0,296,0,24.0
1,78.9,396.9,6.421,0.02731,4.9671,7.07,9.14,0.469,17.8,2,0.0,242,0,21.6

In [333]:
# 2. Rm큰순서 상위 1프로만 출력
row_cnt = int(df['RM'].shape[0]*0.01) # 5개
df['RM'].sort_values(ascending=False)[0:row_cnt]

364    8.780
225    8.725
257    8.704
262    8.398
163    8.375
Name: RM, dtype: float64

In [336]:
df['RM'].nlargest(5)

364    8.780
225    8.725
257    8.704
262    8.398
163    8.375
Name: RM, dtype: float64

In [335]:
df['RM'].nsmallest(5)

365    3.561
367    3.863
374    4.138
406    4.138
384    4.368
Name: RM, dtype: float64

In [348]:
df['RM'].shape

(506,)

In [355]:
df['RM'].sort_values()

365    3.561
367    3.863
374    4.138
406    4.138
384    4.368
       ...
163    8.375
262    8.398
257    8.704
225    8.725
364    8.780
Name: RM, Length: 506, dtype: float64

In [357]:
506//5

101

In [398]:
pd.qcut(df['RM'].sort_values(), 101).values[-1]

Interval(8.337, 8.78, closed='right')

In [332]:
q1 = df['RM'].quantile(q=0.99) # 3
q2 = df['RM'].quantile(q=1) # 5

df['RM'][(df['RM']>=q1)&(df['RM']<=q2)]

163    8.375
225    8.725
232    8.337
257    8.704
262    8.398
364    8.780
Name: RM, dtype: float64

In [401]:
# 3. target 컬럼을 대상으로 평균 이상의 값을 갖는 데이터의 갯수 출력
df['Target'][df['Target']>=df['Target'].mean()].count()

209

In [408]:
df[df['Target']>=df['Target'].mean()].shape[0]

209

In [409]:
len(df['Target'][df['Target']>=df['Target'].mean()])

209

In [51]:
# 4. RM이 3이상이고 CHAS에 인접한 집의 갯수 출력
df[(df['RM']>=3)&(df['CHAS']==1)].shape[0]

35

In [469]:
df = pd.read_csv('./Online_retail_mini.csv')
df.head(2)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 8:26,2.55,17850.0,South Korea
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 8:26,3.39,17850.0,South Korea

<pre>
선물 판매 온라인 스토어에서  발생한 거래 내역 데이터
• InvoiceNo : 거래 고유 번호
• StockCode : 상품 고유 번호
• Description : 상품명
• Quantity : 거래 수량
• InvoiceDate : 거래 일시
• UnitPrice : 상품 단가
• CustomerID : 구매자 고유 번호
• Country : 구매 국가

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83 entries, 0 to 82
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    83 non-null     object
 1   StockCode    83 non-null     object
 2   Description  83 non-null     object
 3   Quantity     83 non-null     int64
 4   InvoiceDate  83 non-null     object
 5   UnitPrice    81 non-null     float64
 6   CustomerID   76 non-null     float64
 7   Country      83 non-null     object
dtypes: float64(2), int64(1), object(5)
memory usage: 5.3+ KB

In [62]:
df.nunique()

InvoiceNo      19
StockCode      80
Description    81
Quantity       23
InvoiceDate    14
UnitPrice      29
CustomerID     13
Country         5
dtype: int64

In [68]:
from datetime import datetime, date

In [171]:
datetime.fromisoformat('2010-12-01 08:26:00')

datetime.datetime(2010, 12, 1, 8, 26)

In [470]:
# 5. InvoiceDate 컬럼을 대상으로 (년도, 월) 정보를 추출해 InvoiceDate 오름차순 정렬
df['InvoiceDate'] = df['InvoiceDate'].astype('datetime64')
df['yy'] = df['InvoiceDate'].dt.year
df['mm'] = df['InvoiceDate'].dt.month
df[['InvoiceDate','yy','mm']].sort_values('InvoiceDate')

           InvoiceDate    yy  mm
0  2010-12-01 08:26:00  2010  12
1  2010-12-01 08:26:00  2010  12
2  2010-12-01 08:26:00  2010  12
3  2010-12-01 08:26:00  2010  12
4  2010-12-01 08:26:00  2010  12
..                 ...   ...  ..
77 2011-12-09 12:50:00  2011  12
78 2011-12-09 12:50:00  2011  12
79 2011-12-09 12:50:00  2011  12
80 2011-12-09 12:50:00  2011  12
82 2011-12-09 12:50:00  2011  12

[83 rows x 3 columns]

In [418]:
df = pd.read_csv('./Online_retail_mini.csv')

In [426]:
df['InvoiceDate'][0]

'2010-12-01 8:26'

In [430]:
datetime.strptime('2010-12-01 8:26', '%Y-%m-%d %H:%M')

datetime.datetime(2010, 12, 1, 8, 26)

In [432]:
df['InvoiceDate'].apply(lambda x:datetime.strptime(x, '%Y-%m-%d %H:%M'))

0    2010-12-01 08:26:00
1    2010-12-01 08:26:00
2    2010-12-01 08:26:00
3    2010-12-01 08:26:00
4    2010-12-01 08:26:00
             ...
78   2011-12-09 12:50:00
79   2011-12-09 12:50:00
80   2011-12-09 12:50:00
81   2011-12-09 12:50:00
82   2011-12-09 12:50:00
Name: InvoiceDate, Length: 83, dtype: datetime64[ns]

In [471]:
# 6. 구매국가의 컬럼을 수치값으로 
df['Country'].unique()

array(['South Korea', 'United Kingdom', 'Germany', 'Austria', 'France'],
      dtype=object)

In [472]:
qhrrn = dict(enumerate(df['Country'].unique()))
qhrrn

{0: 'South Korea',
 1: 'United Kingdom',
 2: 'Germany',
 3: 'Austria',
 4: 'France'}

In [473]:
df['Country'] = df['Country'].replace(['South Korea', 'United Kingdom', 'Germany', 'Austria', 'France'], [0,1,2,3,4])
df['Country'].unique()

array([0, 1, 2, 3, 4], dtype=int64)

In [477]:
df['Country'] = df['Country'].map(qhrrn)
df['Country'].unique()

array(['South Korea', 'United Kingdom', 'Germany', 'Austria', 'France'],
      dtype=object)

In [487]:
def mymy(x):
    r=0
    if x=='South Korea':
        r=0
    elif x=='United Kingdom':
        r=1
    elif x=='Germany':
        r=2
    elif x=='Austria':
        r=3
    elif x=='France':
        r=4
    return r
mymy('Germany')

2

In [492]:
df['ccc'] = df['Country'].apply(mymy)
df['ccc'].unique()

array([0, 1, 2, 3, 4], dtype=int64)

In [126]:
# 7. Object 타입을 갖는 컬럼들에 대해 각 컬럼들이 갖는 고유값의 크기 출력
col_ob = df.select_dtypes('object').columns
df[col_ob].nunique()

InvoiceNo      19
StockCode      80
Description    81
dtype: int64

In [505]:
# 8. 거래일시(InvoiceDate) 컬럼을 대상으로 년월별 거래 횟수 출력 내림차순
df.groupby(['yy', 'mm'])['InvoiceDate'].count().sort_index(ascending=False)

yy    mm
2011  12     6
      7      5
      5     19
      4     37
2010  12    16
Name: InvoiceDate, dtype: int64

In [516]:
df['InvoiceDate'].astype('str').str[0:7].value_counts().sort_index(ascending=False)

2011-12     6
2011-07     5
2011-05    19
2011-04    37
2010-12    16
Name: InvoiceDate, dtype: int64

In [525]:
df[['yy', 'mm']].value_counts().sort_index(ascending=False)

yy    mm
2011  12     6
      7      5
      5     19
      4     37
2010  12    16
dtype: int64

In [530]:
df['InvoiceDate'].dt.strftime('%Y-%m').value_counts().sort_index(ascending=False)

2011-12     6
2011-07     5
2011-05    19
2011-04    37
2010-12    16
Name: InvoiceDate, dtype: int64

In [531]:
df['CustomerID'].isna().sum()

7

In [536]:
df.isna().sum()[df.isna().sum()>0]

UnitPrice     2
CustomerID    7
dtype: int64

In [552]:
naindex = df[df['CustomerID'].isna()].index
naindex

Int64Index([22, 23, 72, 73, 74, 75, 76], dtype='int64')

In [547]:
df[df['CustomerID'].isna().values==True].index

Int64Index([22, 23, 72, 73, 74, 75, 76], dtype='int64')

In [561]:
mval = df['CustomerID'].mode().values[0]
mval

12429.0

In [565]:
df['CustomerID'].isna().sum()

7

In [186]:
# 9. 구매자 고유 번호(CustomerID)가 결측인 회원값을 최빈도 값으로 대채
cus_mod_val = df['CustomerID'].mode().values[0]
df['CustomerID'] = df['CustomerID'].fillna(cus_mod_val)
df['CustomerID'].isna().sum()

0

In [569]:
df['Quantity'].max()

128

In [213]:
# 10. 10. Quantity(거래수량)이 가장 많은 상품들의 상품명, 가격정보 출력
quan_max = df['Quantity'].value_counts().index[0]
df[['Description','UnitPrice','Quantity']][df['Quantity']==quan_max]

                            Description  UnitPrice  Quantity
0    WHITE HANGING HEART T-LIGHT HOLDER       2.55         6
1                   WHITE METAL LANTERN       3.39         6
3   KNITTED UNION FLAG HOT WATER BOTTLE       3.39         6
4        RED WOOLLY HOTTIE WHITE HEART.       3.39         6
6     GLASS STAR FROSTED T-LIGHT HOLDER       4.25         6
7                HAND WARMER UNION JACK       1.85         6
8             HAND WARMER RED POLKA DOT       1.85         6
10           POPPY'S PLAYHOUSE BEDROOM        2.10         6
11            POPPY'S PLAYHOUSE KITCHEN       2.10         6
13              IVORY KNITTED MUG COSY        1.65         6
14   BOX OF 6 ASSORTED COLOUR TEASPOONS       4.25         6
44         RECORD FRAME 7" SINGLE SIZE        2.55         6
46             JAM MAKING SET WITH JARS       4.25         6
51         PACK OF 6 HANDBAG GIFT BOXES       2.55         6
52       MAKE YOUR OWN MONSOON CARD KIT       2.95         6
53        RED FLOWER CROCHET FOOD COVER       3.75         6
54        NURSERY A,B,C PAINTED LETTERS       6.75         6
68      NATURAL SLATE CHALKBOARD LARGE        4.95         6
69      NATURAL SLATE HEART CHALKBOARD        2.95         6
79         CHILDREN'S APRON DOLLY GIRL        2.10         6

In [211]:
df['Quantity'].value_counts()

 6      20
 2      11
 8       7
-1       6
 10      6
 12      6
 4       5
 1       3
 24      2
-2       2
 5       2
 3       2
-110     1
-100     1
 128     1
-16      1
 32      1
-10      1
 48      1
 40      1
 80      1
 18      1
-6       1
Name: Quantity, dtype: int64

In [493]:
df['Quantity'].value_counts().index[0]

6