In [1]:
import numpy as np
import pandas as pd
import json

# df json control

# JSON
```
json.load(파일)
json.loads(변수) # 글자 --> 객체

json.dump(파일)
json.dumps(변수) # 객체 --> 글자
```

In [2]:
# 글자를 객체로
dic_str = """[{"userid": "kim", "userpw": 1111}, {"userid": "lee", "userpw": 2222}]"""
print(dic_str)
print(type(dic_str))
dic_list = json.loads(dic_str)
print(dic_list)
print(type(dic_list))

[{"userid": "kim", "userpw": 1111}, {"userid": "lee", "userpw": 2222}]
<class 'str'>
[{'userid': 'kim', 'userpw': 1111}, {'userid': 'lee', 'userpw': 2222}]
<class 'list'>

In [3]:
# 객체를 글자로
dic_list = [{'userid': 'kim', 'userpw': 1111}, {'userid': 'lee', 'userpw': 2222}]
print(dic_list)
print(type(dic_list))
dic_str = json.dumps(dic_list)
print(dic_str)
print(type(dic_str))

[{'userid': 'kim', 'userpw': 1111}, {'userid': 'lee', 'userpw': 2222}]
<class 'list'>
[{"userid": "kim", "userpw": 1111}, {"userid": "lee", "userpw": 2222}]
<class 'str'>

# DataFrame
```
pd.DataFrame(리스트딕트)
```

In [4]:
dic_list = [{'userid': 'kim', 'userpw': 1111}, {'userid': 'lee', 'userpw': 2222}]

df = pd.DataFrame(dic_list, index=[10, 20])
df

   userid  userpw
10    kim    1111
20    lee    2222

# df를 json str으로
```
df.to_json(
    파일저장경로,
    orient='columns' # 인덱스포함그대로
    orient='records' # 인덱스빼고값만
    orient='index' # .T
)
```

In [5]:
df_json_str = df.to_json()
df_json_str

'{"userid":{"10":"kim","20":"lee"},"userpw":{"10":1111,"20":2222}}'

In [6]:
df_json_str_dict = json.loads(df_json_str)
df_json_str_dict

{'userid': {'10': 'kim', '20': 'lee'}, 'userpw': {'10': 1111, '20': 2222}}

In [7]:
df.to_json(orient='records')

'[{"userid":"kim","userpw":1111},{"userid":"lee","userpw":2222}]'

# JSON형식으로 파일쓰기
df꺼임
```
df.to_json()
```

In [8]:
df.to_json('../file/test_json.txt')

# JSON형식 파일읽기
pd꺼임
```
pd.read_json()
```

In [9]:
pd.read_json('[{"userid":"kim","userpw":1111},{"userid":"lee","userpw":2222}]')

  userid  userpw
0    kim    1111
1    lee    2222

In [10]:
pd.read_json('../file/test_json.txt', orient='records')

   userid  userpw
10    kim    1111
20    lee    2222

In [11]:
pd.read_json('../file/test_json.txt')

   userid  userpw
10    kim    1111
20    lee    2222