In [2]:
import numpy as np
import pandas as pd

In [16]:
bus = pd.read_csv('./bus.csv', encoding='cp949', sep=',')
bus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173840 entries, 0 to 173839
Data columns (total 27 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   기준_날짜        173840 non-null  int64
 1   행정동_ID       173840 non-null  int64
 2   버스_승객_수      173416 non-null  float64
 3   버스_승객_수_00시  173416 non-null  float64
 4   버스_승객_수_01시  173416 non-null  float64
 5   버스_승객_수_02시  173416 non-null  float64
 6   버스_승객_수_03시  173416 non-null  float64
 7   버스_승객_수_04시  173416 non-null  float64
 8   버스_승객_수_05시  173416 non-null  float64
 9   버스_승객_수_06시  173416 non-null  float64
 10  버스_승객_수_07시  173416 non-null  float64
 11  버스_승객_수_08시  173416 non-null  float64
 12  버스_승객_수_09시  173416 non-null  float64
 13  버스_승객_수_10시  173416 non-null  float64
 14  버스_승객_수_11시  173416 non-null  float64
 15  버스_승객_수_12시  173416 non-null  float64
 16  버스_승객_수_13시  173416 non-null  float64
 17  버스_승객_수_14시  173416 non-null  float64
 18  버스_승객_수_15시  173416 non-null  float64
 19  버스_승객_수_16시  173416 non-null  float64
 20  버스_승객_수_17시  173416 non-null  float64
 21  버스_승객_수_18시  173416 non-null  float64
 22  버스_승객_수_19시  173416 non-null  float64
 23  버스_승객_수_20시  173416 non-null  float64
 24  버스_승객_수_21시  173416 non-null  float64
 25  버스_승객_수_22시  173416 non-null  float64
 26  버스_승객_수_23시  173416 non-null  float64
dtypes: float64(25), int64(2)
memory usage: 35.8 MB

In [18]:
bus['기준_날짜']

0         20230215
1         20230215
2         20230215
3         20230215
4         20230215
            ...
173835    20220101
173836    20220101
173837    20220101
173838    20220101
173839    20220101
Name: 기준_날짜, Length: 173840, dtype: int64